<h2>{{title}}</h2>




<div class="card">
    <ul class="list-group list-group-flush">
        <li  class="list-group-item" style="list-style: none;" *ngFor="let item of movies" (click)="onSelect(item)" 
        [class.bg-secondary] = "item === selectedMovie" [class.bg-secondary] = "item === selectedMovie" >
            <span class="badge bg-success">id : {{item.id}}</span>  film adı:  {{item.name}}    
        </li> 
     </ul>
</div>


<!--<h1>Burası renk değiştirmiyor</h1>-->
<movie [movie] = "selectedMovie"></movie>